
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", serif;
}
nav{
    border: 1px solid rgb(169, 164, 164);
    height: 60px;
}
.mainnav{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
input[type="text"],
select{
    width: 600px;
}
.inp{
    background-color: orangered;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userinput{
    /* width: 100; */
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
}
.inp i{
    font-size: 15px;
    padding: 2px;
}
.links{
    list-style-type: none;
}
.icon1{
    display: flex;
    column-gap: 30px;
    cursor: pointer;
}
.cont{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}
.link a{
    /* list-style-type: none; */
    text-decoration: none;
    color: black;
}